# Maven build output
**/target/

# Gradle（兼容旧构建）
.gradle
build

# IDE
/.claude
/.idea
/app/bin
*.iml
# Environment variables
.env
# IDEA code analysis
qodana.yaml

app/src/main/resources/application-dev.yml
app/src/main/resources/application.yml
/docs
