# Maven build output
**/target/
app/out/

# Gradle（兼容旧构建）
.gradle
build

# IDE / 本地工具
/.claude
/.idea
/.zcode
/app/bin
*.iml
# Environment variables
.env
# IDEA code analysis
qodana.yaml

app/src/main/resources/application-dev.yml
app/src/main/resources/application.yml
/docs
